.site {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    grid-template-areas: 
    'title title title'
    'footer sidebar main'
    'footer sidebar main'
}
.header {
    background-color: yellow;
    grid-area: title;
    color: purple;
}
.fact {
    background-color: lightblue;
    grid-area: footer;
}
.opinion {
    background-color: lightpink;
    grid-area: main;
}